.main_container {
  min-height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 42px;
}

table {
  width: 100%;
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 14px;
}

td {
  font-weight: 500;
  cursor: pointer;
}

th {
  font-weight: 700;
  background: #8ff7bf;
  color: black;
}

mat-paginator {
  background: #8ff7bf;
}

.width_new {
  width: 80%;
  border-radius: 35px;
  margin: auto;
}

.icon_picture {
  width: 28px;
  height: 28px;
  margin-right: 4px;
}

.wrap_fli {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mat-table {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  overflow: hidden !important;
}

.mat-paginator {
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden !important;
}

.yes {
  color: green;
  font-weight: 900;
}

.no {
  color: red;
  font-weight: 900;
}

.wrap_width {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.form_box {
  width: 40%;
  max-width: 40%;
  font-size: 14px;
}

.star_picture {
  width: 28px;
  height: 28px;
  margin-right: 4px;
}

.first_button {
  margin-top: 15px;
  color: #fff;
  font-weight: 700;
  border-radius: 40px;
  font-size: 24px;
  width: 80%;
  margin-left: 10%;
  height: 60px;
}


.first_button:hover {
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.first_button:before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: .5s;
}

.first_button:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}
