<div class="main_container">
  <div class="wrap_width">
    <h1>Task management</h1>
    <mat-form-field class="form_box" appearance="fill">
      <mat-label>Search for task</mat-label>
      <input matInput placeholder="Type..." [(ngModel)]="inputValue" (input)="onInputChange()">
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8 width_new">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID</th>
        <td mat-cell style="font-weight: 900;" *matCellDef="let element" routerLink="/management/task/{{element.id}}/update">
          {{element.id}}
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title</th>
        <td mat-cell *matCellDef="let element" routerLink="/management/task/{{element.id}}/update">
          <div> {{element.title}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="difficulty">
        <th mat-header-cell *matHeaderCellDef> Difficulty</th>
        <td mat-cell *matCellDef="let element" routerLink="/management/task/{{element.id}}/update">
          <div class="wrap_fli">
            <img src="../../../assets/images/star.png"
                 class="star_picture"
                 *ngFor="let item of getRange(element.difficulty)" />
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="testCasesAmount">
        <th mat-header-cell *matHeaderCellDef> Test cases amount</th>
        <td mat-cell *matCellDef="let element" routerLink="/management/task/{{element.id}}/update">
          {{element.testCasesAmount}}
        </td>
      </ng-container>

      <ng-container matColumnDef="timeLimit">
        <th mat-header-cell *matHeaderCellDef> Time limit</th>
        <td mat-cell *matCellDef="let element" routerLink="/management/task/{{element.id}}/update">
          {{element.timeLimit}}
        </td>
      </ng-container>

      <ng-container matColumnDef="memoryLimit">
        <th mat-header-cell *matHeaderCellDef> Memory limit</th>
        <td mat-cell *matCellDef="let element" routerLink="/management/task/{{element.id}}/update">
          {{element.memoryLimit}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 6, 7]"
                   [pageSize]="pageSize"
                   [pageIndex]="pageIndex"
                   [length]="totalItems"
                   (page)="onPageChange($event)"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  <button mat-raised-button color="primary" class="first_button" routerLink="/management/task/create">
    <span style="color: #ffffff">Create New Task</span>
  </button>
</div>
