<h1>Access</h1>
<div mat-dialog-content>
  <div *ngIf="!data.public1">
    <p>Write password to get access</p>
    <p style="color: red;">{{message}}</p>
    <mat-form-field class="form_box" appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [(ngModel)]="password" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div *ngIf="data.public1">
    <p>Confirm participation</p>
    <p style="color: red;">{{message}}</p>
  </div>
</div>
<div style="margin-top:10px; display: flex; flex-direction: row; justify-content: space-between;">
  <button mat-raised-button (click)="onOkClick()" color="primary" class="first_button">
    <span style="color: #ffffff">Submit</span>
  </button>
  <button mat-raised-button (click)="onNoClick()" color="primary" class="first_button">
    <span style="color: #ffffff">Close</span>
  </button>
</div>
