<h1>Info</h1>
<div mat-dialog-content>
  <p>{{data}}</p>
</div>
<div style="margin-top:10px; display: flex; flex-direction: row; justify-content: center;">
  <button mat-raised-button (click)="onNoClick()" color="primary" class="first_button">
    <span style="color: #ffffff">Ok</span>
  </button>
</div>
