.menubar {
  position: relative;
  height: 90px;
  width: 100%;
  padding-left: 8%;
  padding-right: 8%;
}

.menu_container {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu_container .menu_wrap_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  text-decoration: none;
}

.menu_container .menu_wrap_2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-weight: 400;
}

.menu_span {
  color: #5c5d5c;
}

.menu_span:hover {
  color: #000;
}

.menu_span_2:hover {
  color: #000;
}

.menu_container .other_elements {
  margin-right: 20px;
  font-size: 20px;
}

.menu_container .other_elements {
  color: #000;
}

.emblem_text {
  margin-right: 5px;
  font-size: 24px;
}

.emblem_picture {
  width: 30px;
  height: 30px;
  margin-bottom: 12px;
}

.dropbtn {
  padding: 12px 14px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 145px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 14px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
}

.menu_span_2 {
  color: #5c5d5c;
  font-size: 18px;
}

.other_elements:hover {
  background-color: #f1f1f1;
}

.padding_other_elements {
  padding: 12px 14px;
}

a {
  text-decoration: none;
}
