<div class="menubar">
  <div class="menu_container">
    <a routerLink="/" class="menu_wrap_1">
      <span class="emblem_text">goslinger</span>
      <img src="../../../assets/images/main.png" class="emblem_picture"/>
    </a>
    <div class="menu_wrap_2">
      <div *ngIf="isLoggedIn() && userAuthService.getRole() === 'ROLE_ADMIN'" class="other_elements dropdown">
        <div class="dropbtn">
          <span class="menu_span">Management</span>
        </div>
        <div class="dropdown-content">
          <a routerLink="/management/user"><span class="menu_span_2">User</span></a>
          <a routerLink="/management/task"><span class="menu_span_2">Task</span></a>
          <a routerLink="/management/tournament"><span class="menu_span_2">Tournament</span></a>
        </div>
      </div>
      <div *ngIf="isLoggedIn()" routerLink="/tournaments" class="other_elements padding_other_elements">
        <a><span class="menu_span">Tournaments</span></a>
      </div>
      <div *ngIf="isLoggedIn()" routerLink="/rating" class="other_elements padding_other_elements">
        <a><span class="menu_span">Rating</span></a>
      </div>
      <div *ngIf="isLoggedIn()" routerLink="/profile" class="other_elements padding_other_elements">
        <a><span class="menu_span">Profile</span></a>
      </div>
      <div *ngIf="isLoggedIn()" (click)="logout()" class="other_elements padding_other_elements">
        <a><span class="menu_span">Exit</span></a>
      </div>
    </div>
  </div>
</div>
