<div class="main_container">

  <mat-chip-list aria-label="Fish selection">
    <mat-chip color="primary" (click)="updateElem0()" [selected]="updateElem === 0">Details</mat-chip>
    <mat-chip color="primary" (click)="updateElem1()" [selected]="updateElem === 1">Results</mat-chip>
  </mat-chip-list>

  <div [ngClass]="{'display_none': updateElem !== 0}" class="field_wrap">

    <div class="container">
      <h1>{{tournament.title}}</h1>
      <div class="description">
        <mat-label>Description:</mat-label>
        <textarea matInput class="textarea" readonly rows="5">{{tournament.description}}</textarea>
      </div>
      <mat-divider class="divider"></mat-divider>
      <div class="description2">
        <div class="wrap_row">
          <mat-icon>group</mat-icon>
          <div class="addText">
            Participants: {{tournament.participants}}/{{tournament.maxParticipants}}
          </div>
        </div>
        <div class="wrap_row">
          <mat-icon>date_range</mat-icon>
          <div class="addText">
            Start: {{tournament.startTime}}
          </div>
        </div>
        <div class="wrap_row">
          <mat-icon>date_range</mat-icon>
          <div class="addText">
            End: {{tournament.endTime}}
          </div>
        </div>
        <div class="wrap_row">
          <mat-icon>{{tournament.public ? 'public' : 'lock'}}</mat-icon>
          <div class="addText">
            {{tournament.public ? 'Public access' : 'Private access'}}
          </div>
        </div>
      </div>
      <mat-divider class="divider"></mat-divider>
      <button mat-raised-button (click)="back()" color="primary" class="first_button">
        <span style="color: #ffffff">Back</span>
      </button>
    </div>

    <div class="mat-elevation-z8 width_new">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="letter">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element" routerLink="/tournament/{{idTour}}/task/{{element.id}}"
              [ngStyle]="{'background': element.color}">
            <div>{{element.letter}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let element" routerLink="/tournament/{{idTour}}/task/{{element.id}}"
              [ngStyle]="{'background': element.color}">
            {{element.title}}
          </td>
        </ng-container>

        <ng-container matColumnDef="difficulty">
          <th mat-header-cell *matHeaderCellDef> Difficulty</th>
          <td mat-cell *matCellDef="let element" routerLink="/tournament/{{idTour}}/task/{{element.id}}"
              [ngStyle]="{'background': element.color}">
            <div class="wrap_fli">
              <img src="../../../assets/images/star.png"
                   class="star_picture"
                   *ngFor="let item of getRange(element.difficulty)" />
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[8]"
                     #paginator
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>

  </div>

  <div [ngClass]="{'display_none': updateElem !== 1}" class="padding_top">
    <div class="mat-elevation-z8 width_new2">
      <table mat-table [dataSource]="dataSourceResults">

        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef>User</th>
          <td mat-cell *matCellDef="let element">
            <div class="wrap_fli" routerLink="/user/{{ element.id }}/profile">
              <img src="/assets/images/{{element.icon}}.png" class="icon_picture">
              <div> {{element.firstname}} {{element.lastname}}</div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>Total</th>
          <td mat-cell *matCellDef="let element">
            {{element.totalMark}}
          </td>
        </ng-container>

        <ng-container *ngFor="let number of numbers" matColumnDef="{{displayedColumnsResults[number+2]}}">
          <th mat-header-cell *matHeaderCellDef>{{displayedColumnsResults[number+2]}}</th>
          <td mat-cell *matCellDef="let element">
            {{element.marks[number]}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsResults"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsResults;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[8]"
                     #paginator1
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>

</div>
