.main_container {
  min-height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-chip {
  font-size: 22px;
  padding: 20px;
}

.field_wrap {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.display_none {
  display: none;
}

.container {
  width: 59%;
  padding: 20px 60px;
  background: lightgreen;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
  margin: 0;
  font-size: 45px;
}

.first_button {
  color: #fff;
  font-weight: 700;
  border-radius: 40px;
  font-size: 24px;
  height: 60px;
  width: 100%;
  margin: 0;
}


.first_button:hover {
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.first_button:before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: .5s;
}

.first_button:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}

.description {
  margin-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.description2 {
  padding-left: 25px;
  padding-right: 25px;
}

mat-label {
  font-size: 22px;
}

.textarea {
  resize: none;
  width: 100%;
  font-size: 18px;
  background: lightgreen;
}

.divider {
  border-top-color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

mat-icon {
  color: #1b2ec6;
  font-size: 24px;
}

.addText {
  color: #1b2ec6;
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}

.wrap_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}

.width_new {
  width: 38%;
  border-radius: 35px;
  margin: auto;
}

.star_picture {
  width: 28px;
  height: 28px;
  margin-right: 4px;
}

table {
  width: 100%;
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 14px;
}

td {
  font-weight: 500;
  cursor: pointer;
}

th {
  font-weight: 700;
  background: #8ff7bf;
  color: black;
}

mat-paginator {
  background: #8ff7bf;
}

.mat-table {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  overflow: hidden !important;
}

.mat-paginator {
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden !important;
}

.padding_top {
  width: 100%;
  padding-top: 25px;
}

.width_new2 {
  width: 100%;
  border-radius: 35px;
  margin: auto;
}

.wrap_fli {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon_picture {
  width: 28px;
  height: 28px;
  margin-right: 4px;
}

