<div class="main_container">
  <div class="login_wrap">
    <div class="field_wrap">
      <h1>Sign Up</h1>
      <img src="../../../assets/images/main.png" class="emblem_picture"/>
    </div>
    <div class="field_wrap2">
      <mat-form-field class="form_box2" appearance="fill">
        <mat-label>Enter your firstname</mat-label>
        <input matInput placeholder="John" [formControl]="firstnameForm">
        <button mat-icon-button matSuffix>
          <mat-icon>people</mat-icon>
        </button>
        <mat-error *ngIf="firstnameForm.invalid">{{getFirstnameErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form_box2" appearance="fill">
        <mat-label>Enter your lastname</mat-label>
        <input matInput placeholder="Doe" [formControl]="lastnameForm">
        <button mat-icon-button matSuffix>
          <mat-icon>people</mat-icon>
        </button>
        <mat-error *ngIf="lastnameForm.invalid">{{getLastnameErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="form_box" appearance="fill">
      <mat-label>Choose your birthday date</mat-label>
      <input matInput [formControl]="birthdayForm" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="birthdayForm.invalid">{{getBirthdayErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="form_box" appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="goslinger@mail.ua" [formControl]="emailForm">
      <button mat-icon-button matSuffix>
        <mat-icon>email</mat-icon>
      </button>
      <mat-error *ngIf="emailForm.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="form_box" appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [formControl]="passwordForm" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passwordForm.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <div class="field_wrap2">
      <button mat-raised-button color="primary" class="first_button" [disabled]="isDisabled()" (click)="onSubmit()">
        <span [ngClass]="{'white_login' : !isDisabled()}">Sign up</span>
      </button>
      <button mat-raised-button color="primary" class="first_button" (click)="back()">
        <span class="white_login">Back</span>
      </button>
    </div>
  </div>
  <div style="width: 50%;">
    <img src="../../../assets/images/register.png" class="main_content_picture"/>
  </div>
</div>
