<div class="main_container">

  <mat-chip-list aria-label="Fish selection">
    <mat-chip color="primary" (click)="updateElem0()" [selected]="updateElem === 0">Available</mat-chip>
    <mat-chip color="primary" (click)="updateElem1()" [selected]="updateElem === 1">Participated</mat-chip>
    <mat-chip color="primary" (click)="updateElem2()" [selected]="updateElem === 2">Finished</mat-chip>
  </mat-chip-list>

  <div [ngClass]="{'display_none': updateElem !== 0}" class="field_wrap">
    <div class="width">
      <div class="heading">
        <h1>Available tournaments:</h1>
        <mat-form-field class="form_box" appearance="fill">
          <mat-label>Search for tournament</mat-label>
          <input matInput placeholder="Type..." [(ngModel)]="inputValue" (input)="onInputChange()">
          <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="mat-elevation-z8 width_new">
        <table mat-table [dataSource]="dataSourceAvailable">

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title</th>
            <td mat-cell *matCellDef="let element">
              <div> {{element.title}}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef>Start</th>
            <td mat-cell *matCellDef="let element">
              {{element.startTime}}
            </td>
          </ng-container>

          <ng-container matColumnDef="end">
            <th mat-header-cell *matHeaderCellDef>End</th>
            <td mat-cell *matCellDef="let element">
              {{element.endTime}}
            </td>
          </ng-container>

          <ng-container matColumnDef="access">
            <th mat-header-cell *matHeaderCellDef> Access</th>
            <td mat-cell *matCellDef="let element">
              <div>
                <mat-icon *ngIf="element.public">public</mat-icon>
                <mat-icon *ngIf="!element.public">lock</mat-icon>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="users">
            <th mat-header-cell *matHeaderCellDef> Users</th>
            <td mat-cell *matCellDef="let element">
              {{element.participants}}/{{element.maxParticipants}}
            </td>
          </ng-container>

          <ng-container matColumnDef="participate">
            <th mat-header-cell *matHeaderCellDef>Participate</th>
            <td mat-cell *matCellDef="let element">
              <div (click)="participate(element.id, element.public)">
                <mat-icon style="color: green;">group_add</mat-icon>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsAvailable"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsAvailable;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[7]"
                       [pageSize]="pageSize"
                       [pageIndex]="pageIndex"
                       [length]="totalItems"
                       (page)="onPageChange($event)"
                       #paginator
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>

    <div style="width: 35%;">
      <img src="../../../assets/images/tournament.png" class="main_content_picture"/>
    </div>
  </div>

  <div [ngClass]="{'display_none': updateElem !== 1}" class="field_wrap">
    <div class="width">
      <div class="heading">
        <h1>Particip. tournaments:</h1>
        <mat-form-field class="form_box" appearance="fill">
          <mat-label>Search for tournament</mat-label>
          <input matInput placeholder="Type..." [(ngModel)]="inputValue" (input)="onInputChange()">
          <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="mat-elevation-z8 width_new">
        <table mat-table [dataSource]="dataSourceAvailable">

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title</th>
            <td mat-cell *matCellDef="let element" routerLink="/tournament/{{element.id}}">
              <div> {{element.title}}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="access">
            <th mat-header-cell *matHeaderCellDef> Access</th>
            <td mat-cell *matCellDef="let element" routerLink="/tournament/{{element.id}}">
              <div>
                <mat-icon *ngIf="element.public">public</mat-icon>
                <mat-icon *ngIf="!element.public">lock</mat-icon>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="users">
            <th mat-header-cell *matHeaderCellDef> Users</th>
            <td mat-cell *matCellDef="let element" routerLink="/tournament/{{element.id}}">
              {{element.participants}}/{{element.maxParticipants}}
            </td>
          </ng-container>

          <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef> Start</th>
            <td mat-cell *matCellDef="let element" routerLink="/tournament/{{element.id}}">
              {{element.startTime}}
            </td>
          </ng-container>

          <ng-container matColumnDef="end">
            <th mat-header-cell *matHeaderCellDef> End</th>
            <td mat-cell *matCellDef="let element" routerLink="/tournament/{{element.id}}">
              {{element.endTime}}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[7]"
                       [pageSize]="pageSize"
                       [pageIndex]="pageIndex"
                       [length]="totalItems"
                       (page)="onPageChange($event)"
                       #paginator1
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>

    <div style="width: 35%;">
      <img src="../../../assets/images/tournament.png" class="main_content_picture"/>
    </div>
  </div>

  <div [ngClass]="{'display_none': updateElem !== 2}" class="field_wrap">
    <div class="width">
      <div class="heading">
        <h1>Finished tournaments:</h1>
        <mat-form-field class="form_box" appearance="fill">
          <mat-label>Search for tournament</mat-label>
          <input matInput placeholder="Type..." [(ngModel)]="inputValue" (input)="onInputChange()">
          <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="mat-elevation-z8 width_new">
        <table mat-table [dataSource]="dataSourceAvailable">

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title</th>
            <td mat-cell *matCellDef="let element" routerLink="/tournament/{{element.id}}">
              <div> {{element.title}}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="access">
            <th mat-header-cell *matHeaderCellDef> Access</th>
            <td mat-cell *matCellDef="let element" routerLink="/tournament/{{element.id}}">
              <div>
                <mat-icon *ngIf="element.public">public</mat-icon>
                <mat-icon *ngIf="!element.public">lock</mat-icon>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="users">
            <th mat-header-cell *matHeaderCellDef> Users</th>
            <td mat-cell *matCellDef="let element" routerLink="/tournament/{{element.id}}">
              {{element.participants}}/{{element.maxParticipants}}
            </td>
          </ng-container>

          <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef> Start</th>
            <td mat-cell *matCellDef="let element" routerLink="/tournament/{{element.id}}">
              {{element.startTime}}
            </td>
          </ng-container>

          <ng-container matColumnDef="end">
            <th mat-header-cell *matHeaderCellDef> End</th>
            <td mat-cell *matCellDef="let element" routerLink="/tournament/{{element.id}}">
              {{element.endTime}}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[7]"
                       [pageSize]="pageSize"
                       [pageIndex]="pageIndex"
                       [length]="totalItems"
                       (page)="onPageChange($event)"
                       #paginator2
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>

    <div style="width: 35%;">
      <img src="../../../assets/images/tournament.png" class="main_content_picture"/>
    </div>
  </div>

</div>
