.main_container {
  min-height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.information {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.submission_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  padding: 25px 40px;
}

.code {
  width: 45%;
  height: 100%;
  padding: 10px 20px;
}

.pre_code_lang {
  min-width: 90%;
  max-width: 90%;
  min-height: 90%;
  max-height: 90%;
  border-radius: 30px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 30px;
  font-weight: 900;
}

.wrap_fli {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.profile_picture {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-left: 10px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

p {
  margin: 0;
}

h4 {
  font-size: 50px;
  margin-top: 15px;
  font-weight: 300;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
