<div class="main_container">
  <h1>{{submission.verdict}}</h1>

  <div class="information">
    <div class="submission_info">
      <div class="wrap_fli">
        <h3>
          <span style="font-weight: 900">Tournament</span>: {{submission.tournamentTitle}}
        </h3>
      </div>
      <div class="wrap_fli" style="margin-top: 10px;">
        <h3>
          <span style="font-weight: 900">Task</span>: {{submission.taskTittle}}
        </h3>
      </div>
      <div class="wrap_fli" style="margin-top: 10px;">
        <h3>
          <span style="font-weight: 900">Submitter</span>:
        </h3>
        <img src="assets/images/{{submission.icon}}.png"
             class="profile_picture"/>
        <h3>{{submission.firstname}} {{submission.lastname}}</h3>
      </div>
      <div class="wrap_fli" style="margin-top: 10px;">
        <h3>
          <span style="font-weight: 900">Language</span>: {{submission.language}}
        </h3>
      </div>
      <div class="wrap_fli" style="margin-top: 10px;">
        <h3>
          <span style="font-weight: 900">Created time</span>: {{submission.createdTime}}
        </h3>
      </div>
      <div *ngIf="submission.error !== ''" class="wrap_fli" style="align-items:flex-start; margin-top: 10px;">
        <h3>
          <span style="font-weight: 900">Error</span>:
        </h3>
        <p> {{submission.error}}</p>
      </div>
      <div class="wrap_fli" style="justify-content: space-between; margin-top: 10px;">
        <div class="details">
          <h2 style="font-size: 40px">Mark</h2>
          <h4 *ngIf="submission.verdict === 'Checking...'">N/A</h4>
          <h4 *ngIf="submission.verdict !== 'Checking...'">{{submission.mark}}</h4>
        </div>
        <div class="details">
          <h2 style="font-size: 40px">Status</h2>
          <h4 *ngIf="submission.verdict === 'Checking...'">N/A</h4>
          <h4 *ngIf="submission.verdict !== 'Checking...'">{{submission.status}}</h4>
        </div>
        <div class="details">
          <h2 style="font-size: 40px">Execution duration</h2>
          <h4 *ngIf="submission.verdict === 'Checking...'">N/A</h4>
          <h4 *ngIf="submission.verdict !== 'Checking...'">{{submission.averageExecutionDuration}} ms</h4>
        </div>
      </div>
    </div>

    <div class="code">
      <h2>Source code:</h2>
      <pre class="pre_code_lang language-{{lang[submission.language]}}"><code
        class="language-{{lang[submission.language]}}" [innerHTML]="code"></code></pre>
    </div>
  </div>
</div>
