<div class="main_main">

  <mat-chip-list aria-label="Fish selection">
    <mat-chip color="primary" (click)="updateElem0()" [selected]="updateElem === 0">Details</mat-chip>
    <mat-chip color="primary" (click)="updateElem1()" [selected]="updateElem === 1">Send submission</mat-chip>
  </mat-chip-list>

  <div class="main_container" [ngClass]="{'display_none': updateElem !== 0}">
    <h1 class="header_task">Task</h1>
    <div class="main_wrap">
      <div class="container">
        <mat-label class="label_box">Title</mat-label>
        <mat-form-field class="form_box" appearance="fill">
          <mat-label>Enter task title</mat-label>
          <input type="text" readonly matInput placeholder="Task name" [formControl]="titleForm">
          <button mat-icon-button matSuffix>
            <mat-icon>title</mat-icon>
          </button>
          <mat-error *ngIf="titleForm.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-label class="label_box">Memory limit</mat-label>
        <mat-form-field class="form_box" appearance="fill">
          <mat-label>Enter memory limit (MB)</mat-label>
          <input type="number" readonly matInput placeholder="1000" [formControl]="memoryLimitForm">
          <button mat-icon-button matSuffix>
            <mat-icon>memory</mat-icon>
          </button>
          <mat-error *ngIf="memoryLimitForm.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-label class="label_box">Time limit</mat-label>
        <mat-form-field class="form_box" appearance="fill">
          <mat-label>Enter time limit (s)</mat-label>
          <input type="number" readonly matInput placeholder="15" [formControl]="timeLimitForm">
          <button mat-icon-button matSuffix>
            <mat-icon>access_time</mat-icon>
          </button>
          <mat-error *ngIf="timeLimitForm.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-label class="label_box">Difficulty</mat-label>
        <mat-form-field class="form_box" aria-readonly="true" appearance="fill">
          <input type="text" readonly matInput [(ngModel)]="task.difficulty">
          <button mat-icon-button matSuffix>
            <mat-icon>security</mat-icon>
          </button>
          <mat-label>Difficulty</mat-label>
        </mat-form-field>
      </div>

      <div class="container">
        <mat-label class="label_box">Task statement</mat-label>
        <mat-form-field class="form_box" appearance="fill">
          <mat-label>Statement</mat-label>
          <textarea matInput readonly rows="18" style="resize: none;" [(ngModel)]="task.problemStatement"
                    placeholder="Ex. One day..."></textarea>
        </mat-form-field>
      </div>

      <div class="container">
        <mat-label class="label_box">Input/output data details</mat-label>
        <mat-form-field class="form_box" appearance="fill">
          <mat-label>Input data details</mat-label>
          <textarea matInput readonly rows="7" style="resize: none;" [(ngModel)]="task.inputText"
                    placeholder="Ex. One integer..."></textarea>
        </mat-form-field>
        <mat-form-field class="form_box" appearance="fill">
          <mat-label>Output data details</mat-label>
          <textarea matInput readonly rows="7" style="resize: none;" [(ngModel)]="task.outputText"
                    placeholder="Ex. Print two integers..."></textarea>
        </mat-form-field>
      </div>

      <div class="container">
        <mat-label class="label_box">Example</mat-label>
        <mat-form-field class="form_box" appearance="fill">
          <mat-label>Input data</mat-label>
          <textarea matInput readonly rows="7" style="resize: none;" [(ngModel)]="task.exampleInputData"
                    placeholder="Ex. 15"></textarea>
        </mat-form-field>
        <mat-form-field class="form_box" appearance="fill">
          <mat-label>Output data</mat-label>
          <textarea matInput readonly rows="7" style="resize: none;" [(ngModel)]="task.exampleOutputData"
                    placeholder="Ex. 1 5"></textarea>
        </mat-form-field>
      </div>

    </div>
  </div>

  <div [ngClass]="{'display_none': updateElem !== 1}" class="send_page">
    <div class="send_container">
      <h2 style="font-size:38px; font-weight: 900; margin-top: 0px; margin-bottom: 15px;">Send submission</h2>
      <mat-form-field class="form_box" aria-readonly="true" appearance="fill">
        <mat-select [(ngModel)]="code.language">
          <mat-option value="PYTHON">Python</mat-option>
          <mat-option value="C">C</mat-option>
          <mat-option value="CPP">C++</mat-option>
          <mat-option value="JAVA">Java</mat-option>
          <mat-option value="GO">Golang</mat-option>
          <mat-option value="CS">C#</mat-option>
          <mat-option value="KOTLIN">Kotlin</mat-option>
          <mat-option value="SCALA">Scala</mat-option>
          <mat-option value="RUST">Rust</mat-option>
          <mat-option value="RUBY">Ruby</mat-option>
          <mat-option value="HASKELL">Haskell</mat-option>
          <mat-option value="SWIFT">Swift</mat-option>
        </mat-select>
        <mat-label>Language</mat-label>
      </mat-form-field>
      <mat-form-field class="form_box" appearance="fill">
        <mat-label>Code</mat-label>
        <textarea matInput rows="12" style="resize: none;" [(ngModel)]="code.code"
                  placeholder="import std..."></textarea>
      </mat-form-field>
      <button mat-raised-button [disabled]="code.code === ''" (click)="send()" color="primary"
              class="first_button">
        <span style="color: #ffffff">Save</span>
      </button>
    </div>
    <div style="width: 42%">
      <img src="assets/images/send.png" class="send_picture"/>
    </div>
  </div>
</div>
