.main_main {
  min-height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main_container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 50px;
  width: 100%;
  padding: 20px 60px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

mat-chip {
  font-size: 22px;
  padding: 20px;
}

.header_task {
  margin: auto;
  font-size: 45px;
}

.main_wrap {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.container {
  width: 24%;
}

.form_box {
  width: 100%;
  max-width: 100%;
}

.form_box2 {
  width: 100%;
  max-width: 100%;
  height: 200px;
  max-height: 200px;
}

.label_box {
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 10px;
}

.first_button {
  color: #fff;
  font-weight: 700;
  border-radius: 40px;
  font-size: 24px;
  width: 100%;
  height: 60px;
}


.first_button:hover {
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.first_button:before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: .5s;
}

.first_button:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}

.main_wrap_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.send_page {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.send_container {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 50px;
  width: 58%;
  padding: 20px 60px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-items: center;
}

.send_picture {
  width: 80%;
  height: 80%;
  margin: auto;
  display: block;
}

.display_none {
  display: none;
}
