<div class="main_container">
  <div style="width:50%">
    <h1>Goslinger is a competitive programming platform</h1>
    <p>Unleash Your Inner Coding Champion with Goslinger!</p>
    <p>Where Coders Thrive? Goslinger's Competitive Playground. Our platform is compatible with 12 programming
      languages:
      Java, Kotlin, C, C++, C#, Golang, Python, Scala, Ruby, Rust, Haskell and Swift. Good luck!
    </p>
    <br>
    <button routerLink="/tournaments" mat-raised-button color="primary" class="first_button">
      <span style="color: #ffffff">Tournaments</span>
    </button>
  </div>
  <div style="width:50%">
    <img src="../../../assets/images/main_content_picture.png" class="main_content_picture"/>
  </div>
</div>
