<div class="main_container">
  <div class="wrap_width">
    <h1>Tournament management</h1>
    <mat-form-field class="form_box" appearance="fill">
      <mat-label>Search for tournament</mat-label>
      <input matInput placeholder="Type..." [(ngModel)]="inputValue" (input)="onInputChange()">
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8 width_new">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell style="font-weight: 900;" *matCellDef="let element" routerLink="/management/tournament/{{element.id}}/update">
          {{element.id}}
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element" routerLink="/management/tournament/{{element.id}}/update">
          <div> {{element.title}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="access">
        <th mat-header-cell *matHeaderCellDef>Access</th>
        <td mat-cell *matCellDef="let element" routerLink="/management/tournament/{{element.id}}/update">
          <div>
            <mat-icon *ngIf="element.public">public</mat-icon>
            <mat-icon *ngIf="!element.public">lock</mat-icon>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="maxParticipants">
        <th mat-header-cell *matHeaderCellDef>Max participants</th>
        <td mat-cell *matCellDef="let element" routerLink="/management/tournament/{{element.id}}/update">
          <div> {{element.maxParticipants}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="amountTasks">
        <th mat-header-cell *matHeaderCellDef>Amount of tasks</th>
        <td mat-cell *matCellDef="let element" routerLink="/management/tournament/{{element.id}}/update">
          <div> {{element.amountTasks}}</div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 6, 7]"
                   [pageSize]="pageSize"
                   [pageIndex]="pageIndex"
                   [length]="totalItems"
                   (page)="onPageChange($event)"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  <button mat-raised-button color="primary" class="first_button" routerLink="/management/tournament/create">
    <span style="color: #ffffff">Create New Tournament</span>
  </button>
</div>
