.main_container {
  min-height: calc(100% - 60px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.login_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  background: #ffffff;
  border-radius: 50px;
  width: 50%;
  padding: 20px 60px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.white_login {
  color: white;
}

.form_box {
  width: 100%;
  max-width: 100%;
}

.label_box {
  font-size: 20px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
}

.first_button {
  color: #fff;
  font-weight: 700;
  border-radius: 40px;
  font-size: 24px;
  width: 200px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 5px;
}


.first_button:hover {
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.first_button:before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: .5s;
}

.first_button:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}

.field_wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.field_wrap2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.emblem_picture {
  width: 60px;
  height: 60px;
  margin-left: 20px;
}

h1 {
  margin-bottom: 17px;
}

.main_content_picture {
  margin: auto;
  width: 80%;
  height: 80%;
  display: block;
}

.invalidMessage {
  width: 100%;
  background: #ffeb3b;
  border-radius: 15px;
  color: red;
  font-weight: 700;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
