<div class="main_container">
  <div class="login_wrap">
    <div class="field_wrap">
      <h1>Welcome</h1>
      <img src="../../../assets/images/main.png" class="emblem_picture"/>
    </div>
    <div *ngIf="!hideErrorMessage" class="invalidMessage">
      {{errorMessage}}
    </div>
    <mat-label class="label_box">Email</mat-label>
    <mat-form-field class="form_box" appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="goslinger@mail.ua" [formControl]="emailForm">
      <button mat-icon-button matSuffix>
        <mat-icon>email</mat-icon>
      </button>
      <mat-error *ngIf="emailForm.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-label class="label_box">Password</mat-label>
    <mat-form-field class="form_box" appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [formControl]="passwordForm" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passwordForm.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <div class="field_wrap2">
      <button mat-raised-button color="primary" class="first_button" [disabled]="isDisabled()" (click)="onSubmit()">
        <span [ngClass]="{'white_login' : !isDisabled()}">Login</span>
      </button>
      <button mat-raised-button color="primary" class="first_button" (click)="register()">
        <span class="white_login">Sign Up</span>
      </button>
    </div>
  </div>
  <div style="width: 50%;">
    <img src="../../../assets/images/login.png" class="main_content_picture"/>
  </div>
</div>
