<div class="main_container">
  <div style="width:50%">
    <h1>ACCESS FORBIDDEN</h1>
    <p>Oops! It seems you've encountered a forbidden page.</p>
    <p>We apologize for the inconvenience, but it appears
      that you do not have the proper authorization to access this content.
      In the meantime, you can navigate to the homepage to continue exploring.
    </p>
    <br>
    <button mat-raised-button routerLink="/" color="primary" class="first_button">
      <span style="color: #ffffff">Go to homepage</span>
    </button>
  </div>
  <div style="width:50%">
    <img src="../../../assets/images/forbidden.png" class="main_content_picture"/>
  </div>
</div>
