<div class="main_container">
  <div class="wrap_width">
    <h1>User management</h1>
    <mat-form-field class="form_box" appearance="fill">
      <mat-label>Search for user</mat-label>
      <input matInput placeholder="Type..." [(ngModel)]="inputValue" (input)="onInputChange()">
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8 width_new">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID</th>
        <td mat-cell style="font-weight: 900;" *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> User</th>
        <td mat-cell *matCellDef="let element">
          <div class="wrap_fli" routerLink="/user/{{ element.id }}/profile">
            <img src="/assets/images/{{element.icon}}.png" class="icon_picture">
            <div> {{element.firstname}} {{element.lastname}}</div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email</th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age</th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>

      <ng-container matColumnDef="enabled">
        <th mat-header-cell *matHeaderCellDef> Enabled</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="yes" *ngIf="element.enabled">done</mat-icon>
          <mat-icon class="no" *ngIf="!element.enabled">close</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role</th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 6, 7, 8]"
                   [pageSize]="pageSize"
                   [pageIndex]="pageIndex"
                   [length]="totalItems"
                   (page)="onPageChange($event)"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>
