<h1>Last stage</h1>
<div mat-dialog-content>
  <p>Import csv file with test cases for this task. Delimiter: comma ','.
    Headers(mandatory): input_data,output_data or output_data,input_data.</p>
  <input #file type="file" style="display: none;"
         (change)="importFile($event)" accept=".csv">
</div>
<div style="margin-top:10px; display: flex; flex-direction: row; justify-content: space-between;">
  <button mat-raised-button type="button" (click)="file.click()" color="primary" class="first_button">
    <span style="color: #ffffff">Import</span>
  </button>
  <button mat-raised-button (click)="onNoClick()" color="primary" class="first_button">
    <span style="color: #ffffff">Cancel</span>
  </button>
</div>
