<div class="main_container">

  <mat-chip-list aria-label="Fish selection">
    <mat-chip color="primary" (click)="updateElem0()" [selected]="updateElem === 0">Details</mat-chip>
    <mat-chip color="primary" (click)="updateElem1()" [selected]="updateElem === 1">Tasks</mat-chip>
  </mat-chip-list>

  <div [ngClass]="{'display_none': updateElem === 1}" class="field_wrap">

    <div class="update_field_wrap">
      <h1>Tournament</h1>

      <div class="row_wrap">
        <mat-form-field class="form_box" appearance="fill">
          <mat-label>Enter tournament title</mat-label>
          <input type="text" matInput placeholder="Tournament title" [(ngModel)]="tournament.title">
          <button mat-icon-button matSuffix>
            <mat-icon>title</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="form_box" appearance="fill">
          <mat-label>Enter max participants</mat-label>
          <input type="number" matInput placeholder="15" [(ngModel)]="tournament.maxParticipants">
          <button mat-icon-button matSuffix>
            <mat-icon>supervisor_account</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <mat-form-field class="textarea_box" appearance="fill">
        <mat-label>Tournament description</mat-label>
        <textarea matInput rows="2" style="resize: none;" [(ngModel)]="tournament.description"
                  placeholder="This tournament is..."></textarea>
      </mat-form-field>

      <mat-form-field class="textarea_box" appearance="fill">
        <mat-label>Enter a date range of competition</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate [(ngModel)]="tournament.startTime" placeholder="Start date">
          <input matEndDate [(ngModel)]="tournament.endTime" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <mat-form-field class="textarea_box" appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [disabled]="tournament.public === true" [(ngModel)]="tournament.password" [type]="'password'">
        <button mat-icon-button matSuffix (click)="tournament.public = !tournament.public">
          <mat-icon>{{tournament.public ? 'public' : 'lock'}}</mat-icon>
        </button>
      </mat-form-field>

      <div class="row_wrap1">
        <button mat-raised-button color="primary"
                style="width: 47%;"
                class="first_button"
                (click)="onSubmit()">
          <span style="color: white;">Save</span>
        </button>
        <button mat-raised-button color="primary"
                style="width: 47%;"
                class="first_button"
                (click)="back()">
          <span style="color: white;">Back</span>
        </button>
      </div>
    </div>

    <div class="mat-elevation-z8 width_new">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef>User</th>
          <td mat-cell style="font-weight: 900;" *matCellDef="let element" routerLink="/user/{{element.id}}/profile">
            <div class="wrap_fli">
              <img src="/assets/images/{{element.icon}}.png" class="icon_picture">
              <div> {{element.firstname}} {{element.lastname}}</div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element" routerLink="/user/{{element.id}}/profile">
            <div> {{element.email}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="remove">
          <th mat-header-cell *matHeaderCellDef>Remove</th>
          <td mat-cell *matCellDef="let element">
            <div (click)="remove(element.id)">
              <mat-icon style="color: red;">delete</mat-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[8,7,6,5]"
                     #paginator
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>

  </div>

  <div  [ngClass]="{'display_none': updateElem === 0}" class="field_wrap">

    <div class="width_new3">
      <div style="display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 25px;
      padding-right: 25px;">
        <h1>Task to add:</h1>
        <mat-form-field class="form_box" appearance="fill">
          <mat-label>Search for task</mat-label>
          <input matInput placeholder="Type..." [(ngModel)]="inputValue" (input)="onInputChange()">
          <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="mat-elevation-z8 width_new2">
        <table mat-table [dataSource]="dataSourceTasksAdd">

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title</th>
            <td mat-cell *matCellDef="let element" routerLink="/management/task/{{element.id}}/update">
              <div> {{element.title}}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="difficulty">
            <th mat-header-cell *matHeaderCellDef> Difficulty</th>
            <td mat-cell *matCellDef="let element" routerLink="/management/task/{{element.id}}/update">
              <div class="wrap_fli">
                <img src="../../../assets/images/star.png"
                     class="star_picture"
                     *ngFor="let item of getRange(element.difficulty)" />
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="testCasesAmount">
            <th mat-header-cell *matHeaderCellDef> Test cases amount</th>
            <td mat-cell *matCellDef="let element" routerLink="/management/task/{{element.id}}/update">
              {{element.testCasesAmount}}
            </td>
          </ng-container>

          <ng-container matColumnDef="add">
            <th mat-header-cell *matHeaderCellDef>Add</th>
            <td mat-cell *matCellDef="let element">
              <div (click)="addTask(element.id)">
                <mat-icon style="color: green;">note_add</mat-icon>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsTasksAdd"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsTasksAdd;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[7]"
                       [pageSize]="pageSize"
                       [pageIndex]="pageIndex"
                       [length]="totalItems"
                       (page)="onPageChange($event)"
                       #paginator1
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>

    <div class="width_new3">
      <h1 style="margin-bottom: 29px">Tournament tasks:</h1>
      <div class="mat-elevation-z8 width_new2">
        <table mat-table [dataSource]="dataSourceTasksRemove">
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title</th>
            <td mat-cell *matCellDef="let element" routerLink="/management/task/{{element.id}}/update">
              <div> {{element.title}}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="difficulty">
            <th mat-header-cell *matHeaderCellDef> Difficulty</th>
            <td mat-cell *matCellDef="let element" routerLink="/management/task/{{element.id}}/update">
              <div class="wrap_fli">
                <img src="../../../assets/images/star.png"
                     class="star_picture"
                     *ngFor="let item of getRange(element.difficulty)" />
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="testCasesAmount">
            <th mat-header-cell *matHeaderCellDef> Test cases amount</th>
            <td mat-cell *matCellDef="let element" routerLink="/management/task/{{element.id}}/update">
              {{element.testCasesAmount}}
            </td>
          </ng-container>

          <ng-container matColumnDef="remove">
            <th mat-header-cell *matHeaderCellDef>Remove</th>
            <td mat-cell *matCellDef="let element">
              <div (click)="removeTask(element.id)">
                <mat-icon style="color: red;">delete</mat-icon>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsTasksRemove"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsTasksRemove;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[7]"
                       #paginator2
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>

  </div>

</div>
