body {
    background: #ffffff;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

* {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    box-sizing: border-box;
}

h1 {
  font-weight: 900;
  font-size: 52px;
}

p {
  font-weight: 300;
  font-size: 20px;
}

.main_content {
  position: absolute;
  width: 100%;
  height: calc(100% - 90px);
  top: 90px;
  padding-top: 15px;
  padding-left: 8%;
  padding-right: 8%;
}
