<div class="main_container">
  <h1 class="header_task">Update task</h1>
  <div class="main_wrap">
    <div class="container">
      <mat-label class="label_box">Title</mat-label>
      <mat-form-field class="form_box" appearance="fill">
        <mat-label>Enter task title</mat-label>
        <input type="text" matInput placeholder="Task name" [formControl]="titleForm">
        <button mat-icon-button matSuffix>
          <mat-icon>title</mat-icon>
        </button>
        <mat-error *ngIf="titleForm.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-label class="label_box">Memory limit</mat-label>
      <mat-form-field class="form_box" appearance="fill">
        <mat-label>Enter memory limit (MB)</mat-label>
        <input type="number" matInput placeholder="1000" [formControl]="memoryLimitForm">
        <button mat-icon-button matSuffix>
          <mat-icon>memory</mat-icon>
        </button>
        <mat-error *ngIf="memoryLimitForm.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-label class="label_box">Time limit</mat-label>
      <mat-form-field class="form_box" appearance="fill">
        <mat-label>Enter time limit (s)</mat-label>
        <input type="number" matInput placeholder="15" [formControl]="timeLimitForm">
        <button mat-icon-button matSuffix>
          <mat-icon>access_time</mat-icon>
        </button>
        <mat-error *ngIf="timeLimitForm.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-label class="label_box">Difficulty</mat-label>
      <mat-form-field class="form_box" appearance="fill">
        <mat-select [(ngModel)]="task.difficulty">
          <mat-option value="LOW">Low</mat-option>
          <mat-option value="MEDIUM">Medium</mat-option>
          <mat-option value="HIGH">High</mat-option>
        </mat-select>
        <mat-label>Difficulty</mat-label>
      </mat-form-field>
    </div>

    <div class="container">
      <mat-label class="label_box">Task statement</mat-label>
      <mat-form-field class="form_box" appearance="fill">
        <mat-label>Statement</mat-label>
        <textarea matInput rows="18" style="resize: none;" [(ngModel)]="task.problemStatement"
                  placeholder="Ex. One day..."></textarea>
      </mat-form-field>
    </div>

    <div class="container">
      <mat-label class="label_box">Input/output data details</mat-label>
      <mat-form-field class="form_box" appearance="fill">
        <mat-label>Input data details</mat-label>
        <textarea matInput rows="7" style="resize: none;" [(ngModel)]="task.inputText"
                  placeholder="Ex. One integer..."></textarea>
      </mat-form-field>
      <mat-form-field class="form_box" appearance="fill">
        <mat-label>Output data details</mat-label>
        <textarea matInput rows="7" style="resize: none;" [(ngModel)]="task.outputText"
                  placeholder="Ex. Print two integers..."></textarea>
      </mat-form-field>
    </div>

    <div class="container">
      <mat-label class="label_box">Example</mat-label>
      <mat-form-field class="form_box" appearance="fill">
        <mat-label>Input data</mat-label>
        <textarea matInput rows="7" style="resize: none;" [(ngModel)]="task.exampleInputData"
                  placeholder="Ex. 15"></textarea>
      </mat-form-field>
      <mat-form-field class="form_box" appearance="fill">
        <mat-label>Output data</mat-label>
        <textarea matInput rows="7" style="resize: none;" [(ngModel)]="task.exampleOutputData"
                  placeholder="Ex. 1 5"></textarea>
      </mat-form-field>
    </div>

  </div>
  <input #file type="file" style="display: none;"
         (change)="importFile($event)" accept=".csv">
  <div class="main_wrap_2">
    <button mat-raised-button [disabled]="isDisableButton()" (click)="createButton()" color="primary"
            class="first_button">
      <span style="color: #ffffff">Save</span>
    </button>
    <button mat-raised-button (click)="file.click()" color="primary"
            class="first_button">
      <span style="color: #ffffff">Import test cases</span>
    </button>
    <button mat-raised-button (click)="export()" color="primary"
            class="first_button">
      <span style="color: #ffffff">Export test cases</span>
    </button>
    <button mat-raised-button (click)="back()" color="primary"
            class="first_button">
      <span style="color: #ffffff">Back</span>
    </button>
  </div>
</div>
