<div class="main_container">
  <mat-chip-list aria-label="Fish selection">
    <mat-chip color="primary" (click)="updateElem0()" [selected]="updateElem === 0">Profile</mat-chip>
    <mat-chip color="primary" *ngIf="checkRoleForUpdate1()" (click)="updateElem1()" [selected]="updateElem === 1">Edit</mat-chip>
    <mat-chip color="primary" (click)="updateElem2()" [selected]="updateElem === 2">Submissions</mat-chip>
  </mat-chip-list>
  <div *ngIf="updateElem === 0" class="field_wrap">
    <div class="profile_container_wrap">
      <div class="wrap2">
        <img src="/assets/images/{{profile.icon}}.png" class="profile_picture">
        <div class="wrap3">
          <h1>{{profile.firstname}} {{profile.lastname}}</h1>
          <div class="wrap4">
            <mat-icon class="custom_icon">email</mat-icon>
            <h2>{{profile.email}}</h2>
          </div>
          <div class="wrap4">
            <mat-icon class="custom_icon">cake</mat-icon>
            <h2>{{profile.age}} years old</h2>
          </div>
          <div class="wrap4">
            <mat-icon class="custom_icon">https</mat-icon>
            <h2>{{profile.role}} role</h2>
          </div>
          <div class="wrap4">
            <mat-icon class="custom_icon" *ngIf="profile.enabled">done</mat-icon>
            <mat-icon class="custom_icon"  *ngIf="!profile.enabled">close</mat-icon>
            <h2 *ngIf="profile.enabled">Enabled</h2>
            <h2 *ngIf="!profile.enabled">Disabled</h2>
          </div>
        </div>
      </div>
      <mat-divider style="border-top-color: white; margin-top: 30px;"></mat-divider>
      <div class="wrap6">
        <div class="wrap7">
          <h3>Points</h3>
          <h4>{{ profile.points }}</h4>
        </div>
        <div class="wrap7">
          <h3>Tournament participation</h3>
          <h4>{{ profile.tournamentParticipation }}</h4>
        </div>
        <div class="wrap7">
          <h3>Solved tasks</h3>
          <h4>{{ profile.solvedTasks }}</h4>
        </div>
      </div>
    </div>
    <div style="width: 30%;">
      <img src="../../../assets/images/profile.png" class="main_content_picture"/>
    </div>
  </div>
  <div *ngIf="updateElem === 1 && checkRoleForUpdate1()" class="field_wrap">
    <div class="update_field_wrap">
      <div class="field_wrap8">
        <h1 style="margin-top: 0px; color: black;">Update user details</h1>
        <img src="../../../assets/images/main.png" class="emblem_picture"/>
      </div>
      <div class="field_wrap2">
        <mat-form-field class="form_box2" appearance="fill">
          <mat-label>Enter your firstname</mat-label>
          <input matInput placeholder="John" [formControl]="firstnameForm">
          <button mat-icon-button matSuffix>
            <mat-icon>people</mat-icon>
          </button>
          <mat-error *ngIf="firstnameForm.invalid">{{getFirstnameErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="form_box2" appearance="fill">
          <mat-label>Enter your lastname</mat-label>
          <input matInput placeholder="Doe" [formControl]="lastnameForm">
          <button mat-icon-button matSuffix>
            <mat-icon>people</mat-icon>
          </button>
          <mat-error *ngIf="lastnameForm.invalid">{{getLastnameErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <mat-form-field class="form_box" appearance="fill">
        <mat-label>Choose your birthday date</mat-label>
        <input matInput [formControl]="birthdayForm" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="birthdayForm.invalid">{{getBirthdayErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form_box5" appearance="fill">
        <mat-select [(ngModel)]="selectedRole">
          <mat-option value="0">User</mat-option>
          <mat-option value="1">Admin</mat-option>
        </mat-select>
        <mat-label>User role</mat-label>
      </mat-form-field>
      <mat-checkbox [formControl]="enabledForm">The user is enabled to authorize and work with the platform</mat-checkbox>
      <div class="field_wrap2">
        <button mat-raised-button color="primary" class="first_button" [disabled]="isDisabled()" (click)="onUpdate()">
          <span [ngClass]="{'white_login' : !isDisabled()}">Update</span>
        </button>
      </div>
    </div>
    <div style="width: 40%;">
      <img src="../../../assets/images/profile.png" class="main_content_picture"/>
    </div>
  </div>
  <div [ngClass]="{'display_none': updateElem !== 2}" class="padding_top">
    <div class="mat-elevation-z8 width_new2">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="tournament">
          <th mat-header-cell *matHeaderCellDef>Tournament</th>
          <td mat-cell *matCellDef="let element">
            <div>{{element.tournamentTitle}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="task">
          <th mat-header-cell *matHeaderCellDef>Task</th>
          <td mat-cell *matCellDef="let element">
            <div>{{element.taskTittle}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="mark">
          <th mat-header-cell *matHeaderCellDef>Mark</th>
          <td mat-cell *matCellDef="let element">
            <div>{{element.mark}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="createdTime">
          <th mat-header-cell *matHeaderCellDef>Created time</th>
          <td mat-cell *matCellDef="let element">
            {{element.createdTime}}
          </td>
        </ng-container>

        <ng-container matColumnDef="language">
          <th mat-header-cell *matHeaderCellDef>Language</th>
          <td mat-cell *matCellDef="let element">
            {{element.language}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[8]"
                     #paginator
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
    <div style="width: 29%;">
      <img src="../../../assets/images/submissions.png" class="main_content_picture"/>
    </div>
  </div>
</div>
