.main_container {
  min-height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-chip {
  font-size: 22px;
  padding: 20px;
}

.field_wrap {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main_content_picture {
  margin: auto;
  width: 85%;
  height: 85%;
  display: block;
}

.profile_container_wrap {
  background: #2e312e;
  width: 70%;
  height: 100%;
  border-radius: 60px;
  padding: 30px 60px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile_picture {
  width: 160px;
  height: 160px;
  margin-right: 20px;
}

.wrap2 {
  display: flex;
  flex-direction: row;
}

h1 {
  color: white;
  margin-top: 10px;
  font-size: 60px;
  margin-bottom: 20px;
}

.wrap3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h2 {
  color: #8ff7bf;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  font-weight: 400;
  font-size: 20px;
}

.wrap4 {
  margin-top: 6px;
  display: flex;
  flex-direction: row;
}

.custom_icon {
  color: rgb(143, 247, 191);
  height: 22px;
  width: 22px;
  font-size: 22px;
}

.wrap6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
}

.wrap7 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  color: white;
  margin-top: 20px;
  font-size: 25px;
  margin-bottom: 10px;
}

h4 {
  color: #8ff7bf;
  margin: 0px;
  font-weight: 100;
  font-size: 50px;
}

.update_field_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  background: #ffffff;
  border-radius: 50px;
  width: 60%;
  padding: 20px 60px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.field_wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.field_wrap8 {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.emblem_picture {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  margin-bottom: 18px;
}

.form_box2 {
  width: 48%;
  max-width: 48%;
}

.form_box5 {
  width: 50%;
  max-width: 50%;
}

.field_wrap2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.form_box {
  width: 100%;
  max-width: 100%;
}

.white_login {
  color: white;
}

.first_button {
  color: #fff;
  font-weight: 700;
  border-radius: 40px;
  font-size: 24px;
  width: 200px;
  height: 60px;
  margin-bottom: 5px;
}


.first_button:hover {
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.first_button:before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: .5s;
}

.first_button:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}

mat-checkbox {
  margin-bottom: 21px;
  font-size: 20px;
}

.padding_top {
  width: 100%;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.display_none {
  display: none;
}

.width_new2 {
  width: 69%;
  border-radius: 35px;
  margin: auto;
}

table {
  width: 100%;
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 14px;
}

td {
  font-weight: 500;
  cursor: pointer;
}

th {
  font-weight: 700;
  background: #8ff7bf;
  color: black;
}

mat-paginator {
  background: #8ff7bf;
}

.mat-table {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  overflow: hidden !important;
}

.mat-paginator {
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden !important;
}

