.main_container {
  min-height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
}

table {
  width: 100%;
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 14px;
}

td {
  font-weight: 500;
}

th {
  font-weight: 700;
  background: #8ff7bf;
  color: black;
}

mat-paginator {
  background: #8ff7bf;
}

.width_new {
  width: 80%;
  border-radius: 35px;
}

.icon_picture {
  width: 28px;
  height: 28px;
  margin-right: 4px;
}

.wrap_fli {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mat-table {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  overflow: hidden !important;
}

.mat-paginator {
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden !important;
}
