<div class="main_container">
  <h1>Rating</h1>
  <div class="mat-elevation-z8 width_new">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell style="font-weight: 900;" *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> User</th>
        <td mat-cell *matCellDef="let element">
          <div class="wrap_fli" routerLink="/user/{{ element.id }}/profile">
            <img src="/assets/images/{{element.icon}}.png" class="icon_picture">
            <div> {{element.firstname}} {{element.lastname}}</div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age</th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>

      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef> Points</th>
        <td mat-cell *matCellDef="let element"> {{element.points}} </td>
      </ng-container>

      <ng-container matColumnDef="solvedTasks">
        <th mat-header-cell *matHeaderCellDef> Tasks</th>
        <td mat-cell *matCellDef="let element"> {{element.solvedTasks}} </td>
      </ng-container>

      <ng-container matColumnDef="tournamentParticipation">
        <th mat-header-cell *matHeaderCellDef> Tournaments</th>
        <td mat-cell *matCellDef="let element"> {{element.tournamentParticipation}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 6, 7, 8]"
                   [pageSize]="pageSize"
                   [pageIndex]="pageIndex"
                   [length]="totalItems"
                   (page)="onPageChange($event)"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>
