.main_container {
  min-height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-chip {
  font-size: 22px;
  padding: 20px;
}

.field_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.update_field_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  border-radius: 50px;
  width: 48%;
  padding: 30px 60px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

td {
  cursor: pointer;
}

h1 {
  margin: 0;
}

.row_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.row_wrap1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 0px;
}

.form_box {
  width: 49%;
}

.textarea_box {
  width: 100%;
}

mat-form-field {
  font-size: 16px;
}

.first_button {
  color: #fff;
  font-weight: 700;
  border-radius: 40px;
  font-size: 24px;
  height: 60px;
  margin: 0;
}


.first_button:hover {
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.first_button:before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: .5s;
}

.first_button:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}

table {
  width: 100%;
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 14px;
}

td {
  font-weight: 500;
}

th {
  font-weight: 700;
  background: #8ff7bf;
  color: black;
}

mat-paginator {
  background: #8ff7bf;
}

.width_new3 {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.width_new {
  width: 48%;
  border-radius: 35px;
  margin: auto;
}

.width_new2 {
  width: 100%;
  border-radius: 35px;
  margin: auto;
}

.icon_picture {
  width: 28px;
  height: 28px;
  margin-right: 4px;
}

.wrap_fli {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mat-table {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  overflow: hidden !important;
}

.mat-paginator {
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden !important;
}

.star_picture {
  width: 28px;
  height: 28px;
  margin-right: 4px;
}

.display_none {
  display: none;
}

.main_content_picture {
  margin: auto;
  width: 80%;
  height: 80%;
  display: block;
}
