<div class="main_container">
  <div class="field_wrap">

    <div class="update_field_wrap">
      <h1>Tournament create</h1>

      <div class="row_wrap">
        <mat-form-field class="form_box" appearance="fill">
          <mat-label>Enter tournament title</mat-label>
          <input type="text" matInput placeholder="Tournament title" [(ngModel)]="tournament.title">
          <button mat-icon-button matSuffix>
            <mat-icon>title</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="form_box" appearance="fill">
          <mat-label>Enter max participants</mat-label>
          <input type="number" matInput placeholder="15" [(ngModel)]="tournament.maxParticipants">
          <button mat-icon-button matSuffix>
            <mat-icon>supervisor_account</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <mat-form-field class="textarea_box" appearance="fill">
        <mat-label>Tournament description</mat-label>
        <textarea matInput rows="3" style="resize: none;" [(ngModel)]="tournament.description"
                  placeholder="This tournament is..."></textarea>
      </mat-form-field>

      <mat-form-field class="textarea_box" appearance="fill">
        <mat-label>Enter a date range of competition</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate [(ngModel)]="tournament.startTime" placeholder="Start date">
          <input matEndDate [(ngModel)]="tournament.endTime" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <mat-form-field class="textarea_box" appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [disabled]="tournament.public === true" [(ngModel)]="tournament.password" [type]="'password'">
        <button mat-icon-button matSuffix (click)="tournament.public = !tournament.public">
          <mat-icon>{{tournament.public ? 'public' : 'lock'}}</mat-icon>
        </button>
      </mat-form-field>

      <div class="row_wrap1">
        <button mat-raised-button color="primary"
                style="width: 47%;"
                class="first_button"
                (click)="onSubmit()">
          <span style="color: white;">Create</span>
        </button>
        <button mat-raised-button color="primary"
                style="width: 47%;"
                class="first_button"
                (click)="back()">
          <span style="color: white;">Back</span>
        </button>
      </div>
    </div>

    <div style="width: 48%;">
      <img src="../../../assets/images/tournament.png" class="main_content_picture"/>
    </div>

  </div>
</div>
